{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Thank you for coming and welcome to my api </h1>
        <div>
            <img src="{% static 'endpoints.png' %}" alt="endpoints image" width="350px" height="475px">
        </div>
    </body>
</html>